::ng-deep {
  .mat-mdc-dialog-container {
    padding: 0;
  }
}

mat-dialog-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
}

.full-width,
mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
